<%- include('partials/header'); -%>

<h1>Write a new Blog Post:</h1>
<form>
  <div class="form-group">
    <label for="exampleFormControlInput1">Blog Title:</label>
    <input type="email" class="form-control" id="exampleFormControlInput1">
  </div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Compose Post:</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
  <button type="submit" class="btn btn-light">Submit Post</button>
</form>



<%- include('partials/footer'); -%>
