.card {
        margin: 0 auto; /* Added */
        float: none; /* Added */
        margin-bottom: 10px; /* Added */
}

.dateCard{
  margin-top: 50px;
  border-radius: 5px;
  background-color: #231934;

}

.dateText{
color: white;
text-align: center;
font-weight: bold;
}

body{
  background-image: url("kale-salad.jpg");
}

#taskText{
  color: black;
  font-weight: bold;
  font-size: 15px;
}

.card-header {
  font-weight: bold;
  font-size: 20px;
}
