body{
  background-color: #ebeaeb;
  margin: 0;
  height: 100vh;
}

header{
  background-color: #f5ba13;
  height: 100px;
  width: 100%;
  display: inline-block;
  margin: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

}

.title{
  font-family: 'McLaren', cursive;
  font-weight: 200;
  font-size: 25px;
  padding-top: 10px;
  padding-left: 10px;
  margin-left: 25px;
  color: white;

}

footer{
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

p{
  font-family: 'McLaren', cursive;
}

.noteBox {
  background-color: white;
  text-align: center;
  width: 220px;
  height: 220px;
  border-radius: 8px;
  margin-left: 75px;
  margin-top: 50px;
  float: left;
}

.noteTitle{
  font-weight: bold;
  padding-top: 10px;
}
