html, body {
  height: 100%;
}



h1 {
  font-family: 'Staatliches', cursive;

}

p, .composeText, .navText {
  font-family: 'Raleway', sans-serif;

}

.homeLayout{
  margin-top: 100px;
}

.composeLayout{
  margin-top: 100px;
}

.navbar {
  background-color: #154854;
}

.socialLink {
  height: 30px;
}

.nav-link {
  color: white;
}

.slideImage {
  height: 500px;
margin: auto;
}

.slideContainer {
  background-color: white;
  width: 100%;
}

.footerText {
  color: white;
  padding-top: 10px;
}

.blogFooter{
  background-color: #154854;
}
