form {
  width: 300px;
  display: inline-block;
  margin-top: 15%;
}

body{
  text-align: center;
  background-color: #f3f1f1;
}

#mainImage {
  height: 150px;
}

#signupInput {
  margin-bottom: 3px;
}
